{% extends "app/main.html" %} {% load static %}{% block content %}

<div class="page-layout-container">
  <h1>Recommendations</h1>
  <table class="rec-table">
    <tr>
      <th>Establishment</th>
      <th>Location</th>
      <th>Website</th>
    </tr>
    <tr>
      <td>Machiavelli Ristorante Italiano</td>
      <td>123 Clarence St, Sydney NSW 2000</td>
      <td><a href="https://www.machiavelli.com.au/">https://www.machiavelli.com.au/</a></td>
    </tr>
    <tr>
      <td>Manjits Wharf</td>
      <td>10/49 Lime St, Sydney NSW 2000</td>
      <td><a href="https://www.manjits.com.au/">https://www.manjits.com.au/</a></td>
    </tr>
  </table>
  
</div>
{% endblock %}
